In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd

In [2]:
# Change this to your desired search parameter
## Examples: "area square miles", "population", "income per capita"
indicator = "city area square miles"

In [3]:
cities = pd.DataFrame(
    ["Calgary","Edmonton","Vancouver","Winnipeg","Moncton","St. Johns","Halifax","Ottawa","Toronto","Montreal",
"Quebec City","Saskatoon","Birmingham","Anchorage","Mesa","Phoenix","Tuscon","Little Rock","Los Angeles","San Diego",
"San Francisco","San Jose","Aurora","Colorado Springs","Denver","Bridgeport","Wilmington","Washington D.C.","Jacksonville",
"Miami","Orlando","Tampa","Atlanta","Honolulu","Boise","Chicago","Indianapolis","Des Moines","Wichita",
"Lexington-Fayette County","Louisville","New Orleans","Portland","Baltimore","Boston","Detroit","Grand Rapids","Minneapolis",
"St. Paul","Jackson","Kansas City","St. Louis","Billings","Lincoln","Omaha","Henderson","Las Vegas","Manchester","Newark",
"Albuquerque","Buffalo","New York City","Rochester","Charlotte","Greensboro","Raleigh","Fargo","Cincinnati","Cleveland",
"Columbus","Oklahoma City","Tulsa","Portland","Philadelphia","Pittsburgh","Providence","Charleston","Sioux Falls","Memphis",
"Nashville","Austin","Dallas","Houston","San Antonio","Salt Lake City","Burlington","Arlington","Virginia Beach","Seattle",
"Charleston","Milwaukee","Cheyenne","Aguascalientes","Tijuana","La Paz","Campeche","Tuxtla Gutiérrez","Chihuahua","Juárez",
"Saltillo","Piedras Negras","Colima","Durango","León","Acapulco","Hermosillo","Pachuca","Guadalajara","Ecatepec","Naucalpan",
"Nezahualcóyotl","Toluca","Mexico City","Morelia","Cuernavaca","Tepic","San Pedro","Monterrey","Oaxaca","Puebla","Querétaro",
"Cancún","San Luis Potosí","Culiacán","Villahermosa","Reynosa","Apizaco","Boca del Rio","Mérida","Zacatecas"])

In [4]:
states = pd.DataFrame(
    ["Alberta","Alberta","British Columbia","Manitoba","New Brunswick","Newfoundland and Labrador","Nova Scotia",
"Ontario","Ontario","Quebec","Quebec","Saskatchewan","Alabama","Alaska","Arizona","Arizona","Arizona","Arkansas",
"California","California","California","California","Colorado","Colorado","Colorado","Connecticut","Delaware",
"District of Columbia","Florida","Florida","Florida","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa",
"Kansas","Kentucky","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Michigan","Minnesota","Minnesota",
"Mississippi","Missouri","Missouri","Montana","Nebraska","Nebraska","Nevada","Nevada","New Hampshire","New Jersey",
"New Mexico","New York","New York","New York","North Carolina","North Carolina","North Carolina","North Dakota",
"Ohio","Ohio","Ohio","Oklahoma","Oklahoma","Oregon","Pennsylvania","Pennsylvania","Rhode Island","South Carolina",
"South Dakota","Tennessee","Tennessee","Texas","Texas","Texas","Texas","Utah","Vermont","Virginia","Virginia","Washington",
"West Virginia","Wisconsin","Wyoming","Aguascalientes","Baja California","Baja California Sur","Campeche","Chiapas",
"Chihuahua","Chihuahua","Coahuila","Coahuila","Colima","Durango","Guanajuato","Guerrero","Sonora","Hidalgo","Jalisco",
"México","México","México","México","Mexico City","Michoacán","Morelos","Nayarit","Nuevo León","Nuevo León","Oaxaca",
"Puebla","Querétaro","Quintana Roo","San Luis Potosí","Sinaloa","Tabasco","Tamaulipas","Tlaxcala","Veracruz","Yucatán",
"Zacatecas"])

In [5]:
driver = webdriver.Firefox()

In [6]:
search = cities+" "+states+" "+indicator

In [7]:
areas = []
for i in range(len(search)):
    try:
        query = driver.get("https://www.google.com") 
        time.sleep(2)
        driver.find_element_by_name("q").send_keys(search[0][i])
        driver.find_element_by_name("q").send_keys(u'\ue007')
        time.sleep(2)
        result = driver.find_element_by_xpath('/html/body/div[5]/div[2]/div[9]/div[1]/div[2]/div/div[2]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/div[2]/div/div/div/div[1]').text
        areas.append(result)
        print(f"{search[0][i]}: {result}")
    except:
        print(f"{search[0][i]}: n/a")
        areas.append("n/a")
        continue

Calgary Alberta city area square miles: 318.6 mi²
Edmonton Alberta city area square miles: 264.1 mi²
Vancouver British Columbia city area square miles: 44.39 mi²
Winnipeg Manitoba city area square miles: 179.2 mi²
Moncton New Brunswick city area square miles: 54.8 mi²
St. Johns Newfoundland and Labrador city area square miles: 172.2 mi²
Halifax Nova Scotia city area square miles: 37.54 mi²
Ottawa Ontario city area square miles: 1,077 mi²
Toronto Ontario city area square miles: 243.3 mi²
Montreal Quebec city area square miles: 166.6 mi²
Quebec City Quebec city area square miles: n/a
Saskatoon Saskatchewan city area square miles: 88.08 mi²
Birmingham Alabama city area square miles: 148.2 mi²
Anchorage Alaska city area square miles: 1,944 mi²
Mesa Arizona city area square miles: 133.1 mi²
Phoenix Arizona city area square miles: 517 mi²
Tuscon Arizona city area square miles: 226.7 mi²
Little Rock Arkansas city area square miles: 123 mi²
Los Angeles California city area square miles: 503 mi²
San Diego California city area square miles: 372.4 mi²
San Francisco California city area square miles: 46.87 mi²
San Jose California city area square miles: 181.4 mi²
Aurora Colorado city area square miles: 154.1 mi²
Colorado Springs Colorado city area square miles: 195.4 mi²
Denver Colorado city area square miles: 154.9 mi²
Bridgeport Connecticut city area square miles: 19.38 mi²
Wilmington Delaware city area square miles: 17.19 mi²
Washington D.C. District of Columbia city area square miles: 68.34 mi²
Jacksonville Florida city area square miles: 875 mi²
Miami Florida city area square miles: 55.25 mi²
Orlando Florida city area square miles: 113.8 mi²
Tampa Florida city area square miles: 175.8 mi²
Atlanta Georgia city area square miles: 136.8 mi²
Honolulu Hawaii city area square miles: 68.42 mi²
Boise Idaho city area square miles: 84.73 mi²
Chicago Illinois city area square miles: 234 mi²
Indianapolis Indiana city area square miles: 368 mi²
Des Moines Iowa city area square miles: 90.66 mi²
Wichita Kansas city area square miles: 163.6 mi²
Lexington-Fayette County Kentucky city area square miles: 285.5 mi²
Louisville Kentucky city area square miles: 398 mi²
New Orleans Louisiana city area square miles: 349.8 mi²
Portland Maine city area square miles: 69.44 mi²
Baltimore Maryland city area square miles: 92.28 mi²
Boston Massachusetts city area square miles: 89.63 mi²
Detroit Michigan city area square miles: 142.9 mi²
Grand Rapids Michigan city area square miles: 46.08 mi²
Minneapolis Minnesota city area square miles: 57.49 mi²
St. Paul Minnesota city area square miles: 56.18 mi²
Jackson Mississippi city area square miles: 113.2 mi²
Kansas City Missouri city area square miles: 319 mi²
St. Louis Missouri city area square miles: 66 mi²
Billings Montana city area square miles: 43.52 mi²
Lincoln Nebraska city area square miles: 96.19 mi²
Omaha Nebraska city area square miles: 141.8 mi²
Henderson Nevada city area square miles: 108 mi²
Las Vegas Nevada city area square miles: 135.9 mi²
Manchester New Hampshire city area square miles: 34.98 mi²
Newark New Jersey city area square miles: 26.11 mi²
Albuquerque New Mexico city area square miles: 189.5 mi²
Buffalo New York city area square miles: 52.51 mi²
New York City New York city area square miles: n/a
Rochester New York city area square miles: 37.14 mi²
Charlotte North Carolina city area square miles: 297.7 mi²
Greensboro North Carolina city area square miles: 131.8 mi²
Raleigh North Carolina city area square miles: 144.8 mi²
Fargo North Dakota city area square miles: 48.82 mi²
Cincinnati Ohio city area square miles: 79.54 mi²
Cleveland Ohio city area square miles: 82.47 mi²
Columbus Ohio city area square miles: 223.1 mi²
Oklahoma City Oklahoma city area square miles: 621 mi²
Tulsa Oklahoma city area square miles: 201.8 mi²
Portland Oregon city area square miles: 145 mi²
Philadelphia Pennsylvania city area square miles: 141.7 mi²
Pittsburgh Pennsylvania city area square miles: 58.34 mi²
Providence Rhode Island city area square miles: 20.6 mi²
Charleston South Carolina city area square miles: 156.6 mi²
Sioux Falls South Dakota city area square miles: 78.76 mi²
Memphis Tennessee city area square miles: 323.8 mi²
Nashville Tennessee city area square miles: n/a
Austin Texas city area square miles: 271.8 mi²
Dallas Texas city area square miles: 385.8 mi²
Houston Texas city area square miles: 669 mi²
San Antonio Texas city area square miles: 465 mi²
Salt Lake City Utah city area square miles: n/a
Burlington Vermont city area square miles: 15.49 mi²
Arlington Virginia city area square miles: n/a
Virginia Beach Virginia city area square miles: 497 mi²
Seattle Washington city area square miles: 83.78 mi²
Charleston West Virginia city area square miles: 32.64 mi²
Milwaukee Wisconsin city area square miles: 96.81 mi²
Cheyenne Wyoming city area square miles: 32.25 mi²
Aguascalientes Aguascalientes city area square miles: 148.6 mi²
Tijuana Baja California city area square miles: n/a
La Paz Baja California Sur city area square miles: 7,828 mi²
Campeche Campeche city area square miles: n/a
Tuxtla Gutiérrez Chiapas city area square miles: 37.07 mi²
Chihuahua Chihuahua city area square miles: n/a
Juárez Chihuahua city area square miles: n/a
Saltillo Coahuila city area square miles: 105 mi²
Piedras Negras Coahuila city area square miles: n/a
Colima Colima city area square miles: n/a
Durango Durango city area square miles: 3,877 mi²
León Guanajuato city area square miles: n/a
Acapulco Guerrero city area square miles:
Hermosillo Sonora city area square miles:
Pachuca Hidalgo city area square miles: n/a
Guadalajara Jalisco city area square miles: 72.55 mi²
Ecatepec México city area square miles: 72.16 mi²
Naucalpan México city area square miles: 60.48 mi²
Nezahualcóyotl México city area square miles: n/a
Toluca México city area square miles: n/a
Mexico City Mexico City city area square miles: 573 mi²
Morelia Michoacán city area square miles: 516 mi²
Cuernavaca Morelos city area square miles: n/a
Tepic Nayarit city area square miles: n/a
San Pedro Nuevo León city area square miles: n/a
Monterrey Nuevo León city area square miles: 345.2 mi²
Oaxaca Oaxaca city area square miles: n/a
Puebla Puebla city area square miles:
Querétaro Querétaro city area square miles: n/a
Cancún Quintana Roo city area square miles: 764 mi²
San Luis Potosí San Luis Potosí city area square miles: n/a
Culiacán Sinaloa city area square miles: n/a
Villahermosa Tabasco city area square miles: 23.62 mi²
Reynosa Tamaulipas city area square miles: n/a
Apizaco Tlaxcala city area square miles: 3.494 mi²
Boca del Rio Veracruz city area square miles: 16.51 mi²
Mérida Yucatán city area square miles:
Zacatecas Zacatecas city area square miles: n/a

In [8]:
areas = pd.DataFrame(areas)
for a in range(len(areas)):
    areas[0][a] = areas[0][a].split(' ')[0]

In [9]:
df = pd.DataFrame(
    {'city': cities[0],
     'state': states[0],
     'area': areas[0]})

In [10]:
df.to_csv('dbnaCitySizes.csv')

In [11]:
df

             city             state   area
0         Calgary           Alberta  318.6
1        Edmonton           Alberta  264.1
2       Vancouver  British Columbia  44.39
3        Winnipeg          Manitoba  179.2
4         Moncton     New Brunswick   54.8
..            ...               ...    ...
125       Reynosa        Tamaulipas    n/a
126       Apizaco          Tlaxcala  3.494
127  Boca del Rio          Veracruz  16.51
128        Mérida           Yucatán
129     Zacatecas         Zacatecas    n/a

[130 rows x 3 columns]